<div class="row">
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header">
        <h4 class="card-title">Productos</h4>
      </div>
      <div class="card-body">
        <p class="card-text">Listado de productos</p>

        <div class="position-relative">
          <spinner [isLoading]="isLoadingResults"></spinner>

          <search (searchTerm)="tableFilter.filter.search.emit($event)" [createButton]="true" (create)="createOrEdit()"></search>

          <div class="table-responsive">
            <table cdk-table [dataSource]="products" class="table table-hover mb-0"
                   matSort
                   matSortActive="name"
                   matSortDisableClear
                   matSortDirection="asc"
                   multiTemplateDataRows>
              <ng-container cdkColumnDef="code">
                <th cdk-header-cell *cdkHeaderCellDef class="text-center w100">Código</th>
                <td cdk-cell *cdkCellDef="let product" class="text-center">{{ product.code }}</td>
              </ng-container>

              <ng-container cdkColumnDef="name">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Nombre</th>
                <td cdk-cell *cdkCellDef="let product" class="line-height-1">
                  {{ product.name }}
                  <h6 class="d-block m-0 float-end" *ngIf="product.company">{{ product.company.name }}</h6>
                  <h6 class="d-block m-0 text-muted">{{ product?.brand?.name }}</h6>
                </td>
              </ng-container>

              <ng-container cdkColumnDef="quantity">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header class="text-right w100">Cantidad</th>
                <td cdk-cell *cdkCellDef="let product" class="text-right">{{ product.quantity }}</td>
              </ng-container>

              <ng-container cdkColumnDef="unit">
                <th cdk-header-cell *cdkHeaderCellDef class="text-center w80">Unidad</th>
                <td cdk-cell *cdkCellDef="let product" class="text-center">{{ product.unit.name }}</td>
              </ng-container>

              <ng-container cdkColumnDef="price">
                <th cdk-header-cell *cdkHeaderCellDef class="text-right w100">Precio xUnidad</th>
                <td cdk-cell *cdkCellDef="let product" class="text-right">{{ product.price }}</td>
              </ng-container>

              <ng-container cdkColumnDef="higher_price">
                <th cdk-header-cell *cdkHeaderCellDef class="text-right w100">Precio xMayor</th>
                <td cdk-cell *cdkCellDef="let product" class="text-right">{{ product.higher_price }}</td>
              </ng-container>

              <ng-container cdkColumnDef="average_price">
                <th cdk-header-cell *cdkHeaderCellDef class="text-right w100">Precio Compra</th>
                <td cdk-cell *cdkCellDef="let product" class="text-right">{{ product.average_price }}</td>
              </ng-container>

              <ng-container cdkColumnDef="state_name">
                <th cdk-header-cell *cdkHeaderCellDef class="text-center w100">Estado</th>
                <td cdk-cell *cdkCellDef="let product" class="text-center">{{ product.state_name }}</td>
              </ng-container>

              <ng-container cdkColumnDef="actions">
                <th cdk-header-cell *cdkHeaderCellDef class="text-center w100">Acciones</th>
                <td cdk-cell *cdkCellDef="let product" class="text-center">
                  <span class="text-info pointer" (click)="createOrEdit(product)">Editar</span>
                </td>
              </ng-container>

              <!-- Expanded Content -->
              <ng-container cdkColumnDef="expandedDetail">
                <td class="height-0 p-0" cdk-cell *cdkCellDef="let product" [attr.colspan]="displayedColumns.length">
                  <div class="overflow-hidden" [@detailExpand]="product == expandedElement ? 'expanded' : 'collapsed'">
                      <div class="d-flex flex-flow-wrap">
                        <div class="border m-2 p-2" *ngFor="let provider of product.providers">
                           <h5 class="font-medium mb-0">{{ provider.name }}</h5>
                           <span class="d-block text-muted">{{ provider.ruc }}</span>
                           <span class="d-block text-muted">{{ provider.address }}</span>
                        </div>
                     </div>
                  </div>
                </td>
              </ng-container>

              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" class="bg-light"></tr>
              <tr cdk-row *cdkRowDef="let product; columns: displayedColumns;" class="row-border-bottom-0"
                (click)="expandedElement = expandedElement === product ? null : product"></tr>
              <tr cdk-row *cdkRowDef="let product; columns: ['expandedDetail']"></tr>
            </table>
            <div class="text-center my-3" *ngIf="products.length === 0">No se encontraron resultados.</div>
          </div>
          <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
