/node_modules
/public/**/
/public/*.js
/public/*.css
/public/*.ico
/public/*.woff
/public/*.woff2
/public/*.txt
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
