<div class="row">
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="text-center mt-4">
          <img [src]="user.image" class="rounded-circle" width="150">
          <h4 class="card-title my-2">{{ user.full_name }}</h4>
          <h6 class="card-subtitle">{{ user.role_name }}</h6>
          <!-- <div class="row text-center justify-content-md-center">
            <div class="col-4">
              <a href="javascript:void(0)" class="link"><i class="bi bi-person m-1"></i>
                <span class="font-weight-medium">254</span>
              </a>
            </div>
            <div class="col-4">
              <a href="javascript:void(0)" class="link"><i class="bi bi-at m-1"></i>
                <span class="font-weight-medium">54</span>
              </a>
            </div>
          </div> -->
        </div>
      </div>
      <div>
        <hr>
      </div>
      <div class="card-body">
        <small class="text-muted">Email address </small>
        <h6>{{ user.email }}</h6>
        <small class="text-muted pt-4 db">Phone</small>
        <h6>{{ user.phone }}</h6>
        <small class="text-muted pt-4 db">Address</small>
        <h6>{{ user?.address }}</h6>
        <div class="map-box">
          <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=lima&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" style="border: 0"  height="150" width="100%" allowfullscreen></iframe>
        </div>
        <small class="text-muted pt-4 db">Social Profile</small>
        <br>
        <button class="btn btn-circle btn-secondary text-white m-1">
          <i class="bi bi-facebook"></i>
        </button>
        <button class="btn btn-circle btn-secondary text-white m-1">
          <i class="bi bi-twitter"></i>
        </button>
        <button class="btn btn-circle btn-secondary text-white m-1">
          <i class="bi bi-youtube"></i>
        </button>
      </div>
    </div>
  </div>
</div>
