<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-start me-auto">
  <li class="nav-item d-none d-md-block">
    <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" (click)="sidebartypeToggle()">
      <i class="bi bi-arrow-left-circle"></i>
      <i class="bi bi-arrow-right-circle"></i>
      <!-- <i class="bi" [class.bi-arrow-left-circle]="sidebartype == 'full'" [class.bi-arrow-right-circle]="sidebartype == 'mini-sidebar'"></i> -->
    </a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/dashboard"> Starter </a>
  </li> -->
  <!-- ============================================================== -->
  <!-- create new -->
  <!-- ============================================================== -->
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-end">
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <li class="nav-item" ngbDropdown placement="bottom-end">
    <a
      ngbDropdownToggle
      class="nav-link waves-effect waves-dark pro-pic"
      href="javascript:void(0)"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        [src]="user?.image ?? 'assets/img/logo/logo-min.png'"
        alt="user"
        class="rounded-circle"
        width="35"
      />
      <span class="ms-2">{{ user?.full_name }}</span>
    </a>
    <div ngbDropdownMenu class="dropdown-menu-end user-dd dropdown-menu-animate-up dropdown-menu pb-0 shadow">
      <div class="d-flex no-block align-items-center p-3 bg-info text-white">
        <div>
           <img [src]="user?.image ?? 'assets/img/logo/logo-min.png'" alt="user" width="60" class="rounded-circle">
        </div>
        <div class="ms-2">
          <h4 class="mb-0 text-white">{{ user?.full_name }}</h4>
          <p class="mb-0">{{ user?.email }}</p>
        </div>
      </div>
      <a href="javascript:void(0)" class="dropdown-item" [routerLink]="'/admin/perfil'">
        <i class="fa fa-user-alt mx-1"></i> Mi Perfil
      </a>
      <a href="javascript:void(0)" class="dropdown-item" (click)="sidebarthemeToggle()">
        <i class="fa fa-moon mx-1"
          [class.fa-moon]="sidebartheme == ''"
          [class.fa-sun]="sidebartheme == 'dark'">
        </i>
        {{ sidebartheme == 'dark' ? 'Modo Claro' : 'Modo Oscuro' }}
      </a>
      <div class="dropdown-divider m-0"></div>
      <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">
        <i class="fa fa-power-off mx-1"></i> Cerrar Sesión
      </a>
   </div>
  </li>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>
