<div class="row">
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header">
        <h4 class="card-title">Empresas</h4>
        <span class="btn-close-2" (click)="activeModal.dismiss()" *ngIf="isModal"></span>
      </div>
      <div class="card-body">
        <p class="card-text">Listado de empresas</p>

        <div class="position-relative">
          <spinner *ngIf="isLoadingResults"></spinner>

          <search (searchTerm)="tableFilter.filter.search.emit($event)" [createButton]="true" (create)="createOrEdit()"></search>

          <div class="table-responsive">
            <table cdk-table [dataSource]="companies" class="table table-hover"
                   matSort
                   matSortActive="name"
                   matSortDisableClear
                   matSortDirection="asc"
                   multiTemplateDataRows>
              <ng-container cdkColumnDef="ruc">
                <th cdk-header-cell *cdkHeaderCellDef class="text-center w130">RUC</th>
                <td cdk-cell *cdkCellDef="let provider" class="text-center">{{ provider.ruc }}</td>
              </ng-container>

              <ng-container cdkColumnDef="name">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Names</th>
                <td cdk-cell *cdkCellDef="let provider">
                  {{ provider.name }}
                  <h6 class="d-block mb-0 mt-1" *ngIf="provider.company">{{ provider.company.name }}</h6>
                </td>
              </ng-container>

              <ng-container cdkColumnDef="address">
                <th cdk-header-cell *cdkHeaderCellDef>Dirección</th>
                <td cdk-cell *cdkCellDef="let provider">{{ provider.address }}</td>
              </ng-container>

              <ng-container cdkColumnDef="state_name">
                <th cdk-header-cell *cdkHeaderCellDef class="text-center w100">Estado</th>
                <td cdk-cell *cdkCellDef="let provider" class="text-center">{{ provider.state_name }}</td>
              </ng-container>

              <ng-container cdkColumnDef="actions">
                <th cdk-header-cell *cdkHeaderCellDef class="text-center w100">Acciones</th>
                <td cdk-cell *cdkCellDef="let provider" class="text-center">
                  <span class="text-info pointer" (click)="createOrEdit(provider)" *ngIf="!isModal">Editar</span>
                  <span class="text-success pointer" (click)="add(provider)" *ngIf="isModal">Agregar</span>
                </td>
              </ng-container>

              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" class="bg-light"></tr>
              <tr cdk-row *cdkRowDef="let product; columns: displayedColumns;" class="row-border-bottom-0"></tr>
            </table>
            <div class="text-center mb-2" *ngIf="companies.length === 0">No se encontraron resultados.</div>
          </div>
          <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
