// Theme colors
#main-wrapper {
  &[data-layout="vertical"]{
    /*This is for the logo bg*/
    .topbar .top-navbar .navbar-header {
      &[data-logobg="skin1"] {
        background: $skin1;
      }
      &[data-logobg="skin2"] {
        background: $skin2;
      }
      &[data-logobg="skin3"] {
        background: $skin3;
      }
      &[data-logobg] {
        .navbar-brand {
          .dark-logo {
            display: none;
          }
          .light-logo {
            display: inline;
          }
        }
        .nav-toggler,
        .topbartoggler {
          color: $body-color;
        }
      }
    }
    .topbar .navbar-collapse,
    .topbar {
      &[data-navbarbg="skin1"] {
        background: $skin1;
      }
      &[data-navbarbg="skin2"] {
        background: $skin2;
      }
      &[data-navbarbg="skin3"] {
        background: $skin3;
      }
    }
    /*This is for the sidebar bg*/
    .left-sidebar {
      &[data-sidebarbg="skin1"] {
        background: $skin1;
        .sidebar-nav {
          ul {
            background: $skin1;
            .sidebar-item {
              &.active {
                > .sidebar-link {
                  color: $sidebar-text-dark;
                  i {
                    color: $sidebar-icons-dark;
                  }
                  &.active,
                  &:hover {
                    opacity: 1;
                    border-left: 3px solid rgb(0, 0, 0);
                    .feather {
                      color: $white;
                    }
                  }
                }
              }
              .sidebar-link {
                color: $sidebar-text-dark;
                i {
                  color: $sidebar-icons-dark;
                }
              }
            }
          }
        }
      }
      &[data-sidebarbg="skin2"] {
        background: $skin2;
        .sidebar-nav {
          ul {
            background: $skin2;
            .sidebar-item {
              &.active {
                > .sidebar-link {
                  color: $sidebar-text;
                  i {
                    color: $sidebar-text;
                  }
                }
              }
              .sidebar-link {
                color: $sidebar-text;
                i {
                  color: $sidebar-icons;
                }
              }
            }
          }
        }
      }
      &[data-sidebarbg="skin3"] {
        background: $skin3;
        .sidebar-nav {
          ul {
            background: $skin3;
            .sidebar-item {
              &.active {
                > .sidebar-link {
                  color: $sidebar-text;
                  i {
                    color: $sidebar-text;
                  }
                }
              }
              .sidebar-link {
                color: $sidebar-text;
                i {
                  color: $sidebar-icons;
                }
              }
            }
          }
        }
      }
    }
  }
}
