<spinner [isLoading]="isLoadingResults"></spinner>
<div class="card m-0">
  <div class="card-header bg-light">
    <h4 class="card-title">
      <span *ngIf="!provider.id">Creación de nuevo</span>
      <span *ngIf="provider.id">Edición de </span>
      proveedor
    </h4>
    <span class="btn-close-2" (click)="activeModal.dismiss()"></span>
  </div>
  <div class="card-body">
    <div class="form-body">
      <div class="row" *ngIf="isSuper">
        <div class="col-12">
          <div class="mb-3">
            <label>Empresa <span class="text-sm font-medium text-muted pointer ml-15" (click)="searchCompany()">Cambiar</span></label>
            <label class="d-block">{{ provider.company?.name }}</label>
            <label class="d-block text-secondary" *ngIf="!provider.company">-</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" placeholder="Nombre" [(ngModel)]="provider.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="address">Dirección</label>
            <input type="text" name="address" class="form-control" placeholder="Dirección" [(ngModel)]="provider.address">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="code" class="control-label">RUC</label>
            <input type="text" name="code" class="form-control" placeholder="Código" [(ngModel)]="provider.ruc">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <div class="mb-3"><label class="control-label">Estado</label>
              <div class="form-check">
                <input type="radio" id="provider-active" name="provider-state" class="form-check-input" [value]="1" [(ngModel)]="provider.state">
                <label for="provider-active" class="form-check-label">Activo</label>
              </div>
              <div class="form-check">
                <input type="radio" id="provider-inactive" name="provider-state" class="form-check-input" [value]="0" [(ngModel)]="provider.state">
                <label for="provider-inactive" class="form-check-label">Inactivo</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="website">Sitio web</label>
            <input type="text" name="website" class="form-control" placeholder="Sitio web" [(ngModel)]="provider.website">
          </div>
        </div>
      </div>
      <hr>
      <span class="btn btn-info" (click)="save()">Guardar</span>
    </div>
  </div>
</div>
