<spinner [isLoading]="isLoadingResults"></spinner>
<div class="card card-body printableArea" id="print-invoice">
  <div class="row">
    <div class="col-md-12">
      <div class="float-start">
        <address>
          <h3>
            <b class="text-danger">{{ purchase.provider?.name }}</b>
          </h3>
          <p class="text-muted">RUC: {{ purchase.provider?.ruc }}<br>{{ purchase.provider?.address }}</p>
        </address>
      </div>
    </div>
    <hr>
    <div class="col-md-12">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="w180 ps-0 py-1">
              Fecha de emisión
              <span class="float-end">:</span>
            </td>
            <td class="ps-2 py-1">
              {{ purchase.date | date: 'd \'de\' MMMM, y'  }}
            </td>
          </tr>
          <tr>
            <td class="ps-0 py-1">
              Usuario registrante
              <span class="float-end">:</span>
            </td>
            <td class="px-2 py-1">
              {{ purchase.user?.full_name }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="w30 text-center">#</th>
              <th>Descripcíon</th>
              <th class="text-end">Cantidad</th>
              <th class="text-end">Costo</th>
              <th class="text-end">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of purchase.detail; let index = index">
              <td class="text-center">{{ index + 1 }}</td>
              <td>{{ detail.product?.name }}</td>
              <td class="text-end">{{ detail.quantity }}</td>
              <td class="text-end">{{ detail.price }}</td>
              <td class="text-end">{{ detail.total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
      <div class="p-3">
        <p class="mb-1">Sub Total: <span class="float-end">{{ purchase.subtotal | currency }}</span></p>
        <p class="mb-1">IGV (18%): <span class="float-end">{{ purchase.igv | currency }}</span></p>
        <hr>
        <h3><b>Total :</b><span class="float-end">{{ purchase.total | currency }}</span></h3>
        <hr>
        <div class="text-end non-printable">
          <button type="submit" class="btn btn-danger" (click)="printInvoice()"> Descargar </button>
        </div>
      </div>
    </div>
  </div>
</div>
