<spinner [isLoading]="isLoadingResults"></spinner>
<div class="card m-0">
  <div class="card-header bg-light">
    <h4 class="card-title">
      <span *ngIf="!product.id">Creación de nuevo</span>
      <span *ngIf="product.id">Edición de </span>
      producto
    </h4>
    <span class="btn-close-2" (click)="activeModal.dismiss()"></span>
  </div>
  <div class="card-body">
    <div class="form-body">
      <div class="row" *ngIf="isSuper">
        <div class="col-12">
          <div class="mb-3">
            <label>Empresa <span class="text-sm font-medium text-muted pointer ml-15" (click)="searchCompany()">Cambiar</span></label>
            <label class="d-block">{{ product.company?.name }}</label>
            <label class="d-block text-secondary" *ngIf="!product.company">-</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" placeholder="Nombre" [(ngModel)]="product.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="code" class="control-label">Código</label>
            <input type="text" name="code" class="form-control" placeholder="Código" [(ngModel)]="product.code">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <div class="mb-3"><label class="control-label">Estado</label>
              <div class="form-check">
                <input type="radio" id="product-active" name="product-state" class="form-check-input" [value]="1" [(ngModel)]="product.state">
                <label for="product-active" class="form-check-label">Activo</label>
              </div>
              <div class="form-check">
                <input type="radio" id="product-inactive" name="product-state" class="form-check-input" [value]="0" [(ngModel)]="product.state">
                <label for="product-inactive" class="form-check-label">Inactivo</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Marca <span class="text-sm font-medium text-muted pointer ml-15" (click)="searchBrand()">Cambiar</span></label>
            <label class="d-block">{{ product.brand?.name }}</label>
            <label class="d-block text-secondary" *ngIf="!product.brand">-</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <div class="align-items-center d-flex justify-content-sm-between mb-2">
              <label>Proveedores</label>
              <span class="text-sm font-medium text-muted pointer" (click)="searchProvider()">Agregar proveedor</span>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-sm mb-0">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th class="text-center w80">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let provider of product.providers; trackBy:trackProvider">
                    <td>{{ provider.name }}</td>
                    <td class="text-center">
                      <span class="text-danger pointer" (click)="del(provider)">Eliminar</span>
                    </td>
                  </tr>
                  <tr *ngIf="product.providers?.length === 0">
                    <td colspan="2" class="text-center">Sin registros</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <span class="btn btn-info" (click)="save()">Guardar</span>
    </div>
  </div>
</div>
