.font-weight-medium {
  font-weight: 500;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.btn-link {
  cursor: pointer;
}

.height-0 {
  height: 0;
}

.line-height-1 {
  line-height: 1;
}

.row-border-bottom-0 td {
  border-bottom: 0;
}

.ps {
  overflow: hidden!important;
  overflow-anchor: none;
  touch-action: auto;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

// Width list
@mixin width-x-list {
  @for $i from 1 through 25 {
      .w#{$i}0 { width: #{$i}0px; }
  }
}
@include width-x-list;
[data-theme=dark] {
  .table {
    --#{$variable-prefix}table-bg: #{$table-bg};
    --#{$variable-prefix}table-accent-bg: #{$table-accent-bg};
    --#{$variable-prefix}table-striped-color: #{$table-striped-color};
    --#{$variable-prefix}table-striped-bg: #{$table-striped-bg};
    --#{$variable-prefix}table-active-color: #{$table-active-color};
    --#{$variable-prefix}table-active-bg: #{$table-active-bg};
    --#{$variable-prefix}table-hover-color: $text-dark;
    --#{$variable-prefix}table-hover-bg: $bg-dark-2;
  }
}

.table > :not(caption) > * > * {
  padding: 0.8rem 0.8rem;
}

.table thead th, .table th {
  line-height: 1;
}

.table > :not(:first-child) {
  border-top: none;
}

.mat-icon-button {
  margin: 0 2px !important;
}

.text-sm {
  font-size: 0.9rem;
}

.table.table-sm > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
}

.flex-flow-wrap {
  flex-flow: wrap;
}

.z-index-backdrop-warn {
  z-index: 1600 !important;
}

.z-index-window-warn {
  z-index: 1650 !important;
}

.pointer {
  cursor: pointer;
}

.not-events {
  pointer-events: none;
  opacity: .5;
}

.not-events-only {
  pointer-events: none;
}

ngb-typeahead-window {
  padding: 0 !important;
  button {
    padding: 5px 10px !important;
    color: #fff !important;
  }
}
