<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
  <div class="auth-box">
    <div class="card m-0">
      <img src="assets/images/bg/bg1.jpg" alt="Card" class="card-img-top img-responsive">
      <!-- Form -->
      <div class="card-body form-material">
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <input class="form-control" type="text" name="nick" required="" placeholder="Username" [(ngModel)]="user.nick">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mb-4">
              <input class="form-control" type="password" name="password" required="" placeholder="Password" [(ngModel)]="user.password">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mb-2">
              <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="errorMessage">{{ errorMessage }}</ngb-alert>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class=" btn btn-info d-block w-100 waves-effect waves-light" (click)="login()">
              Log In
              </span>
          </div>
        </div>
      </div>
      <!-- End Form -->
    </div>
  </div>
</div>
